{#
/**
 * @file
 * Epositivity Response Template
 *
 * Available variables:
 * - response: is an array that contains the response.
 *
 * response variables:
 * - status: success|failed
 * - message: objet
 * - log: if test mode, array with the gateway response
 *
 * For debug use:
 * {{ kint(response) }}
 */
#}
<h2>{{ "Transaction" | t }} {{ response.status }}</h2>
<p>{{ response.message }}</p>

<pre>
{% for key, value in response.log %}
  {{ key }}: {{ value }}
{% endfor %}
</pre>
