<table>
  <thead>
    <td>ID</td>
    <td>SID</td>
    <td>Date</td>
    <td>Status</td>
    <td>Log</td>
  </thead>

  <tbody>

  {% for res in results %}
    {% set color_status =
        res.status == 'success' ? 'success' : (
          res.status == 'pending' ? 'warning' : 'error'
        )
    %}
    <tr class="color-{{ color_status }}">
      <td>{{ res.etid }}</td>
      <td><a href="/admin/structure/webform/manage/{{ res.webform_id }}/submission/{{ res.sid }}">{{ res.sid }}</a></td>
      <td>{{ res.txndatetime }}</td>
      <td>{{ res.status }}{{ res.test == '1' ? ' (Is a test)' }}</td>
      <td>{{ res.gateway_log }}</td>
    </tr>
  {% endfor %}

  </tbody>

</table>
