{#
/**
 * @file
 * Epositivity Pay Template
 *
 * Available variables:
 * - submission: is an array that contains the fields of the webform.
 * - pos: is an array that contains the POS settings.
 *
 * submission variables:
 * - chargetotal - is mandatory
 * - All other fields. Read the documentation for the optional fields
 *
 * pos variables:
 * - txntype
 * - timezone
 * - txndatetime
 * - hash
 * - storename
 * - mode
 * - currency
 * - language
 * - responseSuccessURL
 * - responseFailURL
 * - transactionNotificationURL
 *
 * For debug use:
 * {{ kint(submission) }}
 * {{ kint(pos) }}
 */
#}

<form method="post" action="{{ pos.action }}">
  <input type="hidden" name="txntype" value="{{ pos.txntype }}" />
  <input type="hidden" name="timezone" value="{{ pos.timezone }}" />
  <input type="hidden" name="txndatetime" value="{{ pos.txndatetime }}" />
  <input type="hidden" name="hash" value="{{ pos.hash }}" />
  <input type="hidden" name="storename" value="{{ pos.storename }}" />
  <input type="hidden" name="mode" value="{{ pos.mode }}" />
  <input type="hidden" name="currency" value="{{ pos.currency }}" />
  <input type="hidden" name="language" value="{{ pos.language }}" />
  <input type="hidden" name="responseSuccessURL" value="{{ pos.responseSuccessURL }}" />
  <input type="hidden" name="responseFailURL" value="{{ pos.responseFailURL }}" />
  {% if pos.transactionNotificationURL %}
    <input type="hidden" name="transactionNotificationURL" value="{{ pos.transactionNotificationURL }}" />
  {% endif %}
  {% if form_data.email %}
    <input type="hidden" name="email" value="{{ submission.email }}" />
  {% endif %}
  <input type="hidden" name="chargetotal" value="{{ submission.chargetotal }}" />
  <input type="submit" value="{{ "Buy" | t }}" />
</form>
